/Documents/NetBeansProjects/JavaApplication1/nbproject/private/
/Documents/NetBeansProjects/JavaApplication1/build/
/Documents/NetBeansProjects/JavaApplication2/nbproject/private/
/Documents/NetBeansProjects/ContabilidadPrestamos/nbproject/private/
/Documents/NetBeansProjects/ContabilidadDePrestamos/nbproject/private/
/Documents/NetBeansProjects/ContabilidadPrestamosSpring/nbproject/private/
/Documents/NetBeansProjects/ContabilidadePrestamo/nbproject/private/
/Documents/NetBeansProjects/ContabilidadePrestamo/build/
/Documents/NetBeansProjects/ContabilidadDeprestamo/nbproject/private/
/Documents/NetBeansProjects/KISAYMARRUGO_AA2_EV01/nbproject/private/
/Documents/NetBeansProjects/KISAYMARRUGO_AA2_EV01/build/
/Documents/NetBeansProjects/KISAYMARRUGO_AA2_EV01/dist/
/Documents/NetBeansProjects/PrestamosWed/nbproject/private/